<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>典金财务后台管理系统</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/global.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/admin.css"/>
		<script type="text/javascript" src="javascripts/jquery.min.js" ></script>
	</head>
	<body>
		<div class="head">
			
		</div>
		
		<div class="content">
			<div class="menu">
				<div class="act_item">
					
				</div>
				<div class="action">
					
				</div>
			</div>
			<div class="context">
				
			</div>
		</div>
		<!--<form method="post" enctype="multipart/form-data">
			<input class="img_upload" type="file" name="file" id="file" value="" />
		</form>-->
		<script type="text/javascript" src="javascripts/admin.js" ></script>
	</body>
</html>
